@media(min-width:600px){
    .top-navbar{
        box-shadow: 0 0 50px gray !important;
    }


    #top_action_section{
        display: flex !important;
        align-items: center !important;
    }
}


.users_list_item.active .users_list_arrow_icon{
    transform: rotate(180deg);
}

.users_list_item.active , .users_list_item.active .collapsible-header{
    background-color: rgb(187, 181, 181);
}

table.highlight > tbody > tr:hover {
    background-color: #bbdefb;
  }

  .container{
    width: 100% !important;
  }